* {
  box-sizing: border-box;
}

form {
  margin: 20px auto;
  width: clamp(250px, 100%, 80vw);
  display: grid;
  grid-auto-rows: 350px 80px 80px 80px 80px;
  gap: 20px;
  place-items: center;
}

form div {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
}

form label {
  margin: 10px 0;
}

form input {
  width: 100%;
  height: 40px;
}

form button {
  width: clamp(250px, 100%, 500px);
  height: 40px;
}

form pre {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #fff;
  overflow: auto;
  border: 1px solid #818181;
  border-radius: 10px;
}
